<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="SQLSERVERCONNECTIONSTRING" connectionString="data source=210.77.16.162;user id=sa;pwd=!@#$QAZzyd5233;database=Web2ASPNET2DB" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
