<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!--<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" 
		 connectionString="Data Source=localhost;
           Initial Catalog=TestProvider;
           Integrated Security=True" 
		   providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	<system.web>


		<authorization>
			<deny users="?" />
   <!--<allow roles="管理员" />
	<deny roles="普通用户" />-->
  </authorization>
  <roleManager enabled="true" />
		
  <authentication mode="Forms"  >
			<forms loginUrl="Login.aspx"  name=".ASPXFORMSAUTH">
			</forms>
		</authentication>
  <compilation debug="true"/>
 
				<!--<anonymousIdentification 
				  enabled="true"
		    cookieless="UseCookies"
				  cookieName=".ASPXANONYMOUS"
                  cookieTimeout="30"
				  cookiePath="/"
				  cookieRequireSSL="false"
				  cookieSlidingExpiration = "true"
				  cookieProtection="All"
      />-->
	</system.web>
</configuration>
