<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="SQLSERVERCONNECTIONSTRING" connectionString="data source=localhost;user id=sa;pwd=!@#$QAZzyd5233;database=Web2ASPNET2DB" providerName="System.Data.SqlClient"/>
		<add name="BOARDFILEPATH" connectionString="~/XmlDatabase/Board.xml"/>
		<add name="TITLEFILEPATH" connectionString="~/XmlDatabase/Title.xml"/>
		<add name="REPLYFILEPATH" connectionString="~/XmlDatabase/Reply.xml"/>
		<add name="ATTACHMENTFILEPATH" connectionString="~/XmlDatabase/Attachment.xml"/>
		<add name="MESSAGEFILEPATH" connectionString="~/XmlDatabase/Message.xml"/>
		<add name="MESSAGESHIELDFILEPATH" connectionString="~/XmlDatabase/MessageShield.xml"/>
		<add name="USERSTATFILEPATH" connectionString="~/XmlDatabase/UserStat.xml"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
